# ============================================================
# Orion Project
#
# Arquivo:
#   .env.example
#
# Objetivo:
#   Modelo de configuração das variáveis de ambiente Orion.
#
# Observação:
#   Este arquivo deve ser copiado para:
#
#   .env
#
# Antes da execução das Stacks Docker.
#
# O arquivo .env contém valores específicos da instalação
# e não deve ser enviado ao Git.
#
# ============================================================



# ============================================================
# Projeto
# ============================================================

ORION_PROJECT_NAME=orion

# Caminho raiz do Orion
ORION_ROOT=/srv/base/orion

# ============================================================
# Docker Network
# ============================================================

ORION_NETWORK=orion_network


# ==========================================================
# DockerBase - PostgreSQL
# ==========================================================

POSTGRES_IMAGE=postgres:17
POSTGRES_CONTAINER_NAME=orion-postgres
POSTGRES_HOSTNAME=orion-postgres

POSTGRES_PORT=5432
POSTGRES_DB=orion
POSTGRES_USER=orion
POSTGRES_PASSWORD=orion123



POSTGRES_DATA_PATH=${ORION_ROOT}/storage/postgres


# ==========================================================
# DockerBase - Redis
# ==========================================================

REDIS_IMAGE=redis:8

REDIS_CONTAINER_NAME=orion-redis

REDIS_HOSTNAME=orion-redis

REDIS_PORT=6379

REDIS_DATA_PATH=${ORION_ROOT}/storage/redis


