# ============================================================
# Orion Project
#
# Arquivo:
#   .env.example
#
# Objetivo:
#   Modelo de configuração das variáveis de ambiente Orion.
#
# Observação:
#   Este arquivo deve ser copiado para:
#
#   .env
#
# Antes da execução das Stacks Docker.
#
# O arquivo .env contém valores específicos da instalação
# e não deve ser enviado ao Git.
#
# ============================================================

# SÓ PARA VER SE APAGA MESMO

# ============================================================
# Projeto
# ============================================================

ORION_PROJECT_NAME=orion

# Caminho raiz do Orion
ORION_ROOT=/srv/base/orion

#Caminho onde irão ficar os bancos de dados 
ORION_STORAGE=${ORION_ROOT}/storage

# ==========================================================
# DockerBase - PostgreSQL
# ==========================================================

POSTGRES_HOSTNAME=orion-postgres


POSTGRES_DB=orion
POSTGRES_USER=orion
POSTGRES_PASSWORD=orion123

# ==========================================================
# DockerBase - Redis
# ==========================================================


REDIS_HOSTNAME=orion-redis


############################################################
# ORION - Evolution API
# Arquivo: .env.example
#
# Este arquivo é o modelo de configuração do Orion.
# O arquivo .env real deve ser criado a partir deste modelo.
############################################################


############################################################
# INFRAESTRUTURA COMPARTILHADA
############################################################

ORION_NETWORK=orion-network

DATABASE_HOST=orion-postgres
DATABASE_PORT=5432

REDIS_HOST=orion-redis



############################################################
# CONTAINER NAME
############################################################

POSTGRES_CONTAINER_NAME=orion-postgres
REDIS_CONTAINER_NAME=orion-redis
EVOLUTION_CONTAINER_NAME=orion-evolution
EXAMPLE_CONTAINER_NAME=orion-example

############################################################
# IMAGEM
############################################################

POSTGRES_IMAGE=postgres:17
REDIS_IMAGE=redis:8
EVOLUTION_IMAGE=evoapicloud/evolution-api:v2.3.7
EXAMPLE_IMAGE=nginx:latest


############################################################
# PORTAS
#
# Antes de adicionar uma nova Stack, verificar conflitos.
############################################################

POSTGRES_PORT=5432
REDIS_PORT=6379
EVOLUTION_PORT=9080
EXAMPLE_PORT=7080

############################################################
# VOLUMES
############################################################

POSTGRES_DATA_PATH=${ORION_STORAGE}/postgres
REDIS_DATA_PATH=${ORION_STORAGE}/redis
EVOLUTION_DATA_PATH=${ORION_STORAGE}/evolution-api
EXAMPLE_WEB_PATH=/srv/base/orion/www/example





############################################################
# BANCO DE DADOS - EVOLUTION
#
# Cada Stack possui seu próprio banco e usuário.
############################################################

EVOLUTION_DB_NAME=evolution
EVOLUTION_DB_USER=evolution
EVOLUTION_DB_PASSWORD=evolution123


############################################################
# REDIS - EVOLUTION
#
# Redis é compartilhado pela DockerBase.
############################################################

EVOLUTION_REDIS_DB=1


############################################################
# CONFIGURAÇÕES ESPECÍFICAS EVOLUTION API
############################################################

EVOLUTION_API_KEY=evolution123
EVOLUTION_AUTHENTICATION_API_KEY=evolution123

EVOLUTION_DATABASE_PROVIDER=postgresql
EVOLUTION_DATABASE_CONNECTION_URI=postgresql://${EVOLUTION_DB_USER}:${EVOLUTION_DB_PASSWORD}@${POSTGRES_HOSTNAME}:5432/${EVOLUTION_DB_NAME}


############################################################
# CONFIGURAÇÕES GERAIS
############################################################

EVOLUTION_LOG_LEVEL=ERROR
EVOLUTION_LANGUAGE=pt-BR


############################################################
# OPCIONAIS
#
# Ativar somente se necessário.
############################################################

# RABBITMQ_ENABLED=false

# S3_ENABLED=false

# MINIO_ENABLED=false


